.backgroundDiv{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* background-image: url('/Img/seoul.PNG');
    background-size: cover; */
}

.findIdDiv h1 {
    margin-bottom: 5px;
}

.findIdDiv h2 {
    margin-bottom: 14px;
    text-align: left;
    width: 65%;
}

.findIdDiv p {
    margin-top: 0px;
    margin-bottom: 24px;
    text-align: center;
    width: 100%;
    font-size: 24px;
}

.findIdDiv{    
    height: 525px;
    width: 465px;
    display: flex;
    flex-wrap: wrap;
	/*수평 정렬*/
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0;
    background-color: white;
    border: solid 3px #8CC8EA;
    border-radius: 25px;    
}

.findIdDiv input {
    margin-top: 0px;
    margin-bottom: 20px;
	margin-left: 40px;
    height: 43px;
    width: 300px;
    border-radius: 15px;
    text-indent: 30px;
	font-size: 24px;
	line-height: 43px;
	filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
	transition: background-color 0.3s ease;
}

.findIdDiv input[name="memberPassword"] {
    margin-bottom: 5px;
}

.findIdDiv .pwText {
    margin-left: 30px;
    margin-bottom: 5px;
}

.findIdDiv button {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 70px;
    width: 380px;
    border-radius: 25px;
    background-color: #8CC8EA;
	color: white;
	font-size: 32px;
    font-weight: bold;
	border: none;
	filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
	transition: background-color 0.5s ease;
}

.findIdDiv button:hover {
    background-color: #31A3BE;
	color: white;
}

.findIdDiv .footer {
    margin-top: 10px;
    font-size: 20px;
    color: #8CC8EA;
    display: flex;
    justify-content: space-around;
}

.findIdDiv .footer a {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 20px;
    text-decoration: none;
    color: #8CC8EA;
}

.findIdDiv .footer a:hover {
    text-decoration: underline;
	color: #31A3BE;
}

