.backgroundDiv{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* background-image: url('/Img/seoul.PNG');
    background-size: cover; */
}

.loginDiv{    
    height: 640px;
    width: 460px;
    display: flex;
    flex-wrap: wrap;
	/*수평 정렬*/
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0;
    background-color: white;
    border: solid 3px #BADEF2;
    border-radius: 25px;    
}

.loginDiv .check img{    
    height: 400px;
    width: 400px;
}

.loginDiv input {
    font-family: 'Cafe24 Ssurround air';
    margin-top: 5px;
    margin-bottom: 20px;
	margin-left: 0px;
    height: 70px;
    width: 380px;
    border-radius: 15px;
    text-indent: 30px;
	font-size: 24px;
	line-height: 70px;
	filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
	transition: background-color 0.3s ease;
}

.loginDiv button {
    font-family: 'Cafe24 Ssurround';
    margin-top: 5px;
    margin-bottom: 5px;
    height: 70px;
    width: 380px;
    border-radius: 25px;
    background-color: #BADEF2;
	color: white;
	font-size: 32px;
    font-weight: bold;
	border: none;
	filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
	transition: background-color 0.5s ease;
    cursor: pointer; /* 손가락 커서 */
}

.loginDiv button:hover {
    background-color: #31A3BE;
	color: white;
}

.loginDiv .footer {
    margin-top: 10px;
    font-size: 20px;
    color: #BADEF2;
    display: flex;
    justify-content: space-around;
}

.loginDiv .footer a {
    font-family: 'Cafe24 Ssurround';
	margin-left: 20px;
	margin-right: 20px;
	font-size: 20px;
    text-decoration: none;
    color: #BADEF2;
    cursor: pointer; /* 손가락 커서 */
}

.loginDiv .footer a:hover {
    text-decoration: underline;
	color: #31A3BE;
}

