@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('/font/Cafe24SsurroundAir-v1.1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('/font/Cafe24Ssurround-v2.0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.my-profile-page {
    margin: 10px auto;
    max-width: 1408px;
    position: relative;
    margin-left: 270px;
    font-family: 'Cafe24SsurroundAir', sans-serif;
}

.line {
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    border: 1px solid #8CC8EA; 
    border-radius: 10px;
    padding: 10px; 
    margin: 10px 0; 
    background-color: #ffffff; 
}

.page-title {
    font-family: 'Cafe24Ssurround', sans-serif;
    margin: 20px 0;
    position: absolute; 
    top: 20px;
    left: 20px;
    color: #1F709E;
}

/* 테이블 스타일 */
.profile-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  
}

/* 헤더 셀 */
.profile-header {
    font-size: 32px;
    padding: 20px 0;
}

/* 테이블 스타일 */
.profile-table {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 각 행 간 간격 */
}

/* 각 행 스타일 */
.profile-row {
    display: flex; 
    justify-content: space-between; 
    gap: 10px; 
    width: 100%;
}

/* 이미지와 좋아요가 들어가는 셀 */
.profile-left {
    text-align: center;
    flex: 1; 
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 프로필 이미지 */
.profile-left img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.like-count {
    font-size: 18px;
    color: #000;
}

.profile-right {
    flex: 2;
    padding: 30px;
    font-size: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.info-row {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 1:2 비율로 열 분배 */
    align-items: center;
    border-bottom: 1px solid #8CC8EA;
    padding: 0px 0;
}

.info-label {
    text-align: left;
    color: #000;
    white-space: nowrap;
}

.info-value {
    text-align: left;
    color: #000;
    white-space: nowrap;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px; /* 버튼 간 간격 */
    margin-top: 20px; /* 위 요소와의 간격 */
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Cafe24SsurroundAir', sans-serif;
}

.button-container button {
    background-color: #8CC8EA;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

