.toastui-editor-defaultUI-toolbar-modeSwitch {
    display: none !important;
}
.toastui-editor-dropdown {
    display: none !important;
}
.toastui-editor-dropdown.open {
    display: block !important;
}