.BuddyContainer {
/* width: 1500px; */
width: 100%;
display: flexbox; /* flexbox 사용 */
flex-direction: column; /* 세로 방향으로 정렬 */
}

.BuddyContainer p {
font-family: 'Cafe24 Ssurround';
    font-size: 40px;
    font: bold;
    color: #1F709E;
margin-right: 610px;
}

.BuddyContainer h2 {
font-family: 'Cafe24 Ssurround';
    font-size: 40px;
    font: bold;
    color: #1F709E;
    margin-left: 380px;
}

.BuddyContainer input {
font-family: 'Cafe24 Ssurround air';
    font-size: 20px;
    color: #8CC8EA;
border-radius: 15px;
margin-right: 5px;
width: 248px;
height: 50px;
text-align: center;
}


.BuddyContainer .header {
    display: flex; /* 수평 정렬을 위해 flexbox 사용 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: flex-end; /* 오른쪽으로 정렬 */
margin-top: 0;
margin-bottom: 0;
height: 91px;
}

.BuddyContainer table {
display: grid; /* grid 사용 */
/* 수평 및 수직 가운데 정렬 */
    place-items: center; 
/*  수직 가운데 정렬 */
    align-items: center;
/* 전체 화면 높이 */
    height: 100%; 
/* 테이블의 너비를 100%로 설정 (필요시) */
width: 100%; 
/* 테이블 셀 간의 경계 제거 */
    border-collapse: collapse; 
margin-top: 0;
margin-left: 0px;
justify-content: center;
}

.BuddyContainer button {
font-family: 'Cafe24 Ssurround';
    font-size: 20px;
    color: #ffffff;
width: 124px;
height: 50px;
margin-right: 25px;
border-radius: 15px;
background-color: #8CC8EA;
border: none; /* 버튼의 테두리 제거 */
cursor: pointer;

}

.BuddyContainer thead {
height: 60px;

}


.BuddyContainer tr:Hover:not(thead tr) {
background-color: #f3f2f2;
}
/* border-radius: 25px; */

.BuddyContainer th {
font-family: 'Cafe24 Ssurround air';
    font-size: 20px;
height: 60px;
    text-align: center; /* 텍스트 정렬 (필요시) */
background-color: #8CC8EA;
}

.BuddyContainer td {
font-family: 'Cafe24 Ssurround air';
    font-size: 20px;
    text-align: center; /* 텍스트 정렬 (필요시) */
    border-bottom: 1px solid #ccc; /* 하단 경계선 추가 (선택 사항) */
cursor: pointer;
transition: background-color 0.3s;   
}

.th1buddy {
    width: 120px;
}
.th2buddy {
    width: 120px;
}
.th3buddy {
    width: 120px;
}
.th4buddy {
    width: 500px;
}
.th5buddy {
    width: 165px;
}
.th6buddy {
    width: 165px;
}
.th7buddy {
    width: 165px;
}

.td1buddy {
    width: 120px;
}
.td2buddy {
    width: 120px;
}
.td3buddy {
    width: 120px;
}
.td4buddy {
    width: 500px;
}
.td5buddy {
    width: 165px;
}
.td6buddy {
    width: 165px;
}
.td7buddy {
    width: 165px;
}

.AdminAllCSSButtonList {
list-style-type: none;
/* 그리드 사용 */
display: flex;
justify-content: center;
width: 1750px;
margin-top: 10px;
}

.AdminAllCSSButtonList button {
margin: 0 5px; /* 버튼 간의 간격 조정 */
    padding: 10px 20px; /* 버튼의 패딩 조정 */
    border-radius: 50%; /* 버튼의 모서리 둥글게 */
    background-color: #8CC8EA; /* 버튼 배경색 */
    color: #2e2d2d; /* 버튼 글자색 */
    border: #2e2d2d;
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

.CreateButton {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-top: 20px; /* 버튼 위 공간 추가 */
    margin-right: 0px; /* 표와의 간격 맞추기 */
}
.CreateButton button {
font-family: 'Cafe24 Ssurround';
    font-size: 20px;
    color: #ffffff;
    width: 124px;
    height: 50px;
    margin-left: 300px;
    border-radius: 15px;
    background-color: #8CC8EA;
    border: none;
cursor: pointer;
margin-bottom: 0;
}

.BuddyContainer button:Hover {
    background-color: #1F709E;   
    transition: background-color 0.3s;   
}

.BuddyContainer .tableTitle {
    border-radius: 15px;
}


.InsertButton button {
font-family: 'Cafe24 Ssurround';
    font-size: 20px;
    color: #ffffff;
    width: 124px;
    height: 50px;
    border-radius: 15px;
    background-color: #8CC8EA;
    border: none;
cursor: pointer;
margin-left: 1260px;
margin-top: 0;
}
.InsertButton button:Hover {
background-color: #1F709E;   
}



