.faq-list-Q {
    list-style: none; /* 기본 불릿 제거 */
    padding-left: 0;
}
.faq-list-A {
    list-style: none; /* 기본 불릿 제거 */
    padding-left: 0;
}

.faq-list-Q li::before {
    content: 'Q: '; /* Q: 로 시작하게 만들기 */
    font-weight: bold;
    /* 또는 */
    /* content: 'A: '; A: 로 시작하게 만들기 */
}

.faq-list-A li::before {
    content: 'A: '; /* Q: 로 시작하게 만들기 */
    font-weight: bold;
    /* 또는 */
    /* content: 'A: '; A: 로 시작하게 만들기 */
}

.faq-container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .faq-item {
    margin: 10px 0;
  }
  
  .faq-question {
    font-family: 'Cafe24 Ssurround air';
    width: 100%;
    padding: 10px 15px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }
  
  .faq-question.active {
    background-color: #d9edf7;
  }
  
  .faq-answer {
    font-family: 'Cafe24 Ssurround air';
    margin-top: 5px;
    padding: 10px 15px;
    padding-left: 50px;
    background-color: #f1f1f1;
    border-left: 3px solid #31708f;
    font-size: 20px;
    color: #333;
    border-radius: 0 5px 5px 5px;
  }

  .categoryButtons{
    display: flex; /* 추가된 부분 */
    justify-content: left; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-left: 400px;
  }

.categoryButtons button {
    font-family: 'Cafe24 Ssurround';
    font-size: 20px;
    color: #ffffff;
    width: 124px;
    height: 50px;
    border-radius: 15px;
    background-color: #8CC8EA;
    border: none;
	  cursor: pointer;
	  margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    
    margin-top: 26px;
    
}

.categoryButtons button:hover {
    background-color: #2985ed;
}