.MyQnaContainer {

	width: 1500px;
	display: flexbox; /* flexbox 사용 */
	flex-direction: column; /* 세로 방향으로 정렬 */

}

.header p {
	font-family: 'Cafe24 Ssurround';
    font-size: 40px;
    font: bold;
    color: #1F709E;
	margin-right: 890px;

}


.MyQnaContainer .header {
    display: flex; /* 수평 정렬을 위해 flexbox 사용 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: flex-end; /* 오른쪽으로 정렬 */
	margin-top: 0;
	margin-bottom: 0;
	height: 91px;
}

.MyQnaContainer table {
	display: grid; /* grid 사용 */
	/* 수평 및 수직 가운데 정렬 */
    place-items: center; 
	/*  수직 가운데 정렬 */
    align-items: center;
	/* 전체 화면 높이 */
    height: 100%; 
	/* 테이블의 너비를 100%로 설정 (필요시) */
	width: 100%; 
	/* 테이블 셀 간의 경계 제거 */
    border-collapse: collapse; 
	margin-top: 0;
	margin-left: 95px;
	justify-content: center;
}
.MyQnaContainer button {
	font-family: 'Cafe24 Ssurround';
    font-size: 20px;
    color: #ffffff;
	width: 124px;
	height: 50px;
	margin-right: 25px;
	border-radius: 15px;
	background-color: #8CC8EA;
	border: none; /* 버튼의 테두리 제거 */
	cursor: pointer;
	
}

.MyQnaContainer thead {
	height: 60px;
	
}


.MyQnaContainer tr:Hover {
	background-color: #f3f2f2;
	
	
}

.MyQnaContainer th {
	font-family: 'Cafe24 Ssurround air';
    font-size: 20px;
	height: 60px;
    text-align: center; /* 텍스트 정렬 (필요시) */
	margin-top: 0;
	background-color: #8CC8EA;

}

.MyQnaContainer td {
	font-family: 'Cafe24 Ssurround air';
    font-size: 20px;
	height: 50px;
    text-align: center; /* 텍스트 정렬 (필요시) */
    border-bottom: 1px solid #ccc; /* 하단 경계선 추가 (선택 사항) */
	cursor: pointer;
	transition: background-color 0.3s;	
}

.th1myqna {
    width: 110px;
}
.th2myqna {
    width: 110px;
}
.th3myqna {
    width: 500px;
}
.th4myqna {
    width: 220px;
}
.th5myqna {
    width: 165px;
}
.th6myqna {
	width: 120px;
}

.td1myqna {
    width: 120px;
}
.td2myqna {
    width: 80px;
}
.td3myqna {
    width: 500px;
}
.td4myqna {
    width: 255px;
}
.td5myqna {
    width: 120px;
}
.td6myqna {
	width: 150px;
}

.AdminAllCSSButtonList {
	list-style-type: none;
	/* 그리드 사용 */
	display: flex;
	justify-content: center;
	width: 1750px;
	margin-top: 10px;
}

.AdminAllCSSButtonList button {
	margin: 0 5px; /* 버튼 간의 간격 조정 */
    padding: 10px 20px; /* 버튼의 패딩 조정 */
    border-radius: 50%; /* 버튼의 모서리 둥글게 */
    background-color: #eef0f2; /* 버튼 배경색 */
    color: #2e2d2d; /* 버튼 글자색 */
    border: #2e2d2d;
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
	
	}

.CreateButton button {
	font-family: 'Cafe24 Ssurround';
    font-size: 20px;
    color: #ffffff;
    width: 124px;
    height: 50px;
    margin-left: 300px;
    border-radius: 15px;
    background-color: #8CC8EA;
    border: none;
	cursor: pointer;
	margin-bottom: 0;
}



.InsertButton button {
	font-family: 'Cafe24 Ssurround';
    font-size: 20px;
    color: #ffffff;
    width: 124px;
    height: 50px;
    border-radius: 15px;
    background-color: #8CC8EA;
    border: none;
	cursor: pointer;
	margin-left: 1260px;
	margin-top: 0;
}
.InsertButton button:Hover {
	background-color: #1F709E;	
}

/* MyQnaDetail */


.MyQnaDetailContainer {
	width: 1500px;
	display: flexbox; /* flexbox 사용 */
	flex-direction: column; /* 세로 방향으로 정렬 */
}


.MyQnaDetailContainer p {
	font-family: 'Cafe24 Ssurround';
    font-size: 40px;
    font: bold;
    color: #1F709E;
	margin-right: 562px;
	margin-left: 270px;
}

.MyQnaDetailHeader {
    display: flex;
    align-items: center;
    justify-content: left;
}

.MyQnaDetailContainer table {
	margin-top: 0;
	margin-left: 270px;
	border: 1px solid #8CC8EA;
}


.MyQnaDetailContainer button {
	font-family: 'Cafe24 Ssurround';
    font-size: 20px;
    color: #ffffff;
	width: 124px;
	height: 50px;
	margin-right: 25px;
	border-radius: 15px;
	background-color: #8CC8EA;
	border: none; /* 버튼의 테두리 제거 */
	cursor: pointer;
	/* margin-left: 150px; */
}

.MyQnaDetailContainer button:Hover {
	background-color: #1F709E;	
}

.MyQnaDetailContainer .tr1myqnadetail {
	background-color: #8CC8EA;
	height: 60px;
	width: 1200px;
}

.MyQnaDetailContainer td {
	font-family: 'Cafe24 Ssurround air';
    font-size: 20px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #8CC8EA;
}

.MyQnaDetailContainer .td1myqnadetail {
	width: 100px;
}

.MyQnaDetailContainer .td2myqnadetail {
	width: 400px;
}

.MyQnaDetailContainer .td3myqnadetail input {
	width: 800px;
	height: 300px;
	background-color: #ffffff;
	padding-left: 20px;
	font-size: 24px;
	border: none;
}

.MyQnaDetailContainer .td4myqnadetail input {
	width: 800px;
	height: 200px;
	background-color: #ffffff;
	padding-left: 20px;
	font-size: 20px;
	border: none;
}

/* myQnacreate */



.MyQnaCreateContainer {
	width: 1500px;
	display: flexbox; /* flexbox 사용 */
	flex-direction: column; /* 세로 방향으로 정렬 */
}


.MyQnaCreateContainer p {
	font-family: 'Cafe24 Ssurround';
    font-size: 40px;
    font: bold;
    color: #1F709E;
	margin-right: 562px;
	margin-left: 270px;
}

.MyQnaCreateHeader {
    display: flex;
    align-items: center;
    justify-content: left;
}

.MyQnaCreateContainer table {
	margin-top: 0;
	margin-left: 270px;
	border: 1px solid #8CC8EA;
}


.MyQnaCreateContainer button {
	font-family: 'Cafe24 Ssurround';
    font-size: 20px;
    color: #ffffff;
	width: 124px;
	height: 50px;
	margin-right: 25px;
	border-radius: 15px;
	background-color: #8CC8EA;
	border: none; /* 버튼의 테두리 제거 */
	cursor: pointer;
	/* margin-left: 150px; */
}

.MyQnaCreateContainer button:Hover {
	background-color: #1F709E;	
}

.MyQnaCreateContainer .tr1myqnadetail {
	background-color: #8CC8EA;
	height: 60px;
	width: 1200px;
}

.MyQnaCreateContainer td {
	font-family: 'Cafe24 Ssurround air';
    font-size: 20px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #8CC8EA;
}

.MyQnaCreateContainer .td1myqnacreate {
	width: 100px;
}

.MyQnaCreateContainer .td2myqnacreate {
	width: 400px;
}

.MyQnaCreateContainer .td3myqnacreate input {
	width: 1010px;
	height: 300px;
	background-color: #ffffff;
	padding-left: 20px;
	font-size: 24px;
}

.MyQnaCreateContainer .td4myqnacreate input {
	width: 800px;
	height: 60px;
	background-color: #ffffff;
	padding-left: 20px;
	font-size: 20px;
}

.MyQnaCreateContainer .td5myqnacreate select {
	width: 120px;
	height: 60px;
	background-color: #ffffff;
	padding-left: 20px;
	font-size: 20px;
}