.noticeContainer {


}

.noticeContainer p {
	font-family: 'Cafe24 Ssurround';
    font-size: 36px;
    font: bold;
    color: #8CC8EA;
    margin-left : 30px;
}

.noticeContainer button {
	width: 124px;
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 25px;
	border-radius: 25px;
	background-color: white;
	font-weight: bold;
}

.noticeContainer {
	width: 900px;
}

.noticeContainer tr:hover {
	background-color: #f5f5f5;
}

.noticeContainer tr {
	cursor: pointer;
}

.noticeContainer {
	margin: 5px;
	border-radius: 25px;
	background-color: white;
	font-weight: bold;
}

.noticeContainer:hover {
	cursor: pointer;
	background-color: burlywood;
}


